// Maple Syrup

// Custom theme variables - these are imported into each theme so they can be overwritten if necessary
@import "./variables";

// Bootstrap theme color variables
$primary: #D80621;
$secondary: #ffffff;
$body-bg: #999999;
$body-color: #333333;
$link-color: #333333;
$link-hover-color: #663333;
$border-color: #333333;
$gradient: linear-gradient(0deg, rgba(var(--bs-dark-rgb), 0.05), rgba(var(--bs-dark-rgb), 0));
$font-family-sans-serif: 'Century Gothic', 'Arial', 'sans-serif';

// Custom Bootstrap theme color variables
$custom-colors: (
  "shadow-color": #333333,
  "footer-tab-bg": #ffffff,
  "footer-tab-color": #333333,
  "footer-tab-link-color": #333333,
  "footer-tab-link-hover-color": #663333,
);

// Import theme styles - includes Bootstrap
@import "./theme";

// #####################
// Custom theme styles
// #####################

body {
  background-image: url('../public/img/bg/maplesyrup.png');
}
