              <div>
                <div class="list-group strategy">
                  <a class="list-group-item list-group-item-action" href="/strat/tickplan/ter">TER</a>
                  <a class="list-group-item list-group-item-action" href="/strat/tickplan/cat">CAT</a>
                  <a class="list-group-item list-group-item-action" href="/strat/tickplan/xan">XAN</a>
                  <a class="list-group-item list-group-item-action" href="/strat/tickplan/zik">ZIK</a>
                  <a class="list-group-item list-group-item-action" href="/strat/tickplan/etd">ETD</a>
                </div>
              </div>