            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th scope="col">Tick #</td>
                  <th scope="col">Action</td>
                  <th scope="col">Quest Payout</td>
                  <th scope="col">RP Count</td>
                  <th scope="col">CP Count</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td>Login/Create Planet (Terran)</td>
                  <td>0</td>
                  <td>8820</td>
                  <td>7350</td>
                </tr>
              </tbody>
            </table>