
.btn-box {
  margin: 0.5rem 0 1rem 0;

  & .btn-group>.btn {
    border-radius: .2rem !important;
  }

  & .btn:not(:first-child) {
    margin-left: 0.5%;
  }
}

.btn-col {
  white-space: nowrap;
  width: 1%;

  form {
    display: inline-block;
  }
}


.btn-space {
  margin-left: 5px;
}

.btn,.btn-sm {
  padding: .25rem .375rem;
  font-size: 1rem;
  line-height: 1;
  @include respond-above(md) {
    padding: .375rem .5rem;
    font-size: 1.25rem;
  }
}



