&.page-members {
  .dataTables_wrapper {
	.row {
	  margin: 0;
	  width: 100%;
	  overflow: visible;
	}
  }

  .table-members {
	tr {
	  th,
	  td,
	  td i {
		vertical-align: middle;
		white-space: nowrap;
		line-height: .8rem;
		font-size: .6rem;
		@include respond-above(xs) {
		  vertical-align: middle;
		  white-space: nowrap;
		  line-height: 1rem;
		  font-size: .8rem;
		}
		@include respond-above(md) {
		  vertical-align: middle;
		  white-space: nowrap;
		  line-height: 1rem;
		  font-size: .8rem;
		}
	  }
	}

	.dropdown {
	  .dropdown-menu {
		background: white;
		padding: 0;
		font-size: .875rem;

		> div {
		  padding: .25rem .5rem;
		  background: transparent;
		  transition: ease all .5s;

		  &:nth-child(odd) {
			background: rgba(black, .05);
		  }

		  &:hover {
			background: rgba(black, .2);
		  }

		  &.dropdown-divider {
			margin: 0;
			padding: .5rem;
			background: transparent;
		  }

		  label {
			margin: 0;
		  }
		}
	  }
	}
  }
}