<!DOCTYPE html>
<html lang="en">
  <head>
<%- include("templates/head", {page_title: "Battlegroups", page_description: "Battlegroups"}); %>
  </head>
  <body  class="page-battlegroups">
    <header>
<%- include("templates/header"); %>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2>Battlegroups</h2>
              <p>Coming Soon!</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
<%- include("templates/footer"); %>
    </footer>
  </body>
</html>
