<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/head", {page_title: "Help", page_description: "Help"}); %>
</head>
<body class="page-dashboard">
<header>
    <%- include("templates/header"); %>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-1 col-xl-0"></div>
            <div class="col-xxl-10 col-xl-12">
                <div class="content">
                    <h2>Help</h2>
                    <p>Page: <%= help %></p>
                </div>
            </div>
            <div class="col-xxl-1 col-xl-0"></div>
        </div>
    </div>
</main>
<footer>
    <%- include("templates/footer"); %>
</footer>
</body>
</html>
