<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="row">
        <div class="col-4">
            <i class="fas fa-clock" aria-hidden="true"></i><% if(tick !== undefined) { %>&nbsp;<b><%= tick.tick %></b><% } %>
        </div>
        <div class="col-4">
            <i class="fas fa-crosshairs" aria-hidden="true"></i><% if(att !== undefined) { %>&nbsp;<b><%= att.id %></b><% } %>
        </div>
        <div class="col-4">
            <i class="fas fa-globe-americas" aria-hidden="true"></i><% if(member !== undefined) { %>&nbsp;<b><%= member.x %></b><% } %>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-12">
            Copyright &copy; 2020-<%= new Date().getFullYear(); %> <a href="https://t.me/moldypenguins" target="_blank">@moldypenguins</a>, <a href="https://t.me/blanq4" target="_blank">@blanq4</a>, <a href="https://t.me/UltimateNewbie" target="_blank">@UltimateNewbie</a>
        </div>
    </div>
    -->
</div>
<script>
	$(document).ready(function () {
		$('table tr[data-href]').click(function () {
			window.location = $(this).data('href');
			return false;
		});
	});
</script>
