<!-- views/partials/footer.ejs -->
<div class="container">
    <% if(tick != undefined) { %>
        <div class="row">
            <div class="col-12">
                It is currently tick <b><%= tick.id %></b>
            </div>
        </div>
    <% } %>
    <div class="row">
        <div class="col-12">
            Copyright &copy; 2020-<%= new Date().getFullYear(); %> <a href="https://t.me/moldypenguins" target="_blank">@moldypenguins</a>, <a href="https://t.me/blanq4" target="_blank">@blanq4</a>, <a href="https://t.me/UltimateNewbie" target="_blank">@UltimateNewbie</a>
        </div>
    </div>
</div>
<script>
	$(document).ready(function () {
		$('table tr[data-href]').click(function () {
			window.location = $(this).data('href');
			return false;
		});
	});
</script>