    <!-- views/templates/head.ejs -->
    <meta charset="utf-8">
    <title><%= alliance_name %> - <%= page_title %></title>
    <meta name="description" content="<%= page_description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes" />
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/bootstrap-table.min.js"></script>
    <script src="/scripts/clipboard.min.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/bootstrap-table.min.css" />
    <link rel="stylesheet" href="/styles/fontawesome.min.css" />
    <link rel="stylesheet" href="/styles/theme-<%= site_theme.key %>.css" />
    <link rel="stylesheet" href="/styles/theme-custom.css" />
