// Ben Affleck

// Custom theme variables - these are imported into each theme so they can be overwritten if necessary
@import "./variables";

// Bootstrap theme color variables
$primary: #ffffff;
$secondary: #000000;
$body-bg: #ffffff;
$body-color: #333333;
$link-color: #333333;
$link-hover-color: #333366;
$border-color: #333333;
$gradient: linear-gradient(0deg, rgba(var(--bs-dark-rgb), 0.05), rgba(var(--bs-dark-rgb), 0));
$font-family-sans-serif: 'Century Gothic', 'Arial', 'sans-serif';

// Custom Bootstrap theme color variables
$custom-colors: (
  "shadow-color": #000000,
  "footer-tab-bg": #333333,
  "footer-tab-color": #ffffff,
  "footer-tab-link-color": #ffffff,
  "footer-tab-link-hover-color": #9999ff,
);

// Import theme styles - includes Bootstrap
@import "./theme";

// #####################
// Custom theme styles
// #####################

body {
  background-image: url('../public/img/bg/shamrock.jpg');
}
