footer {
  background: $col-secondary;
  color: $col-primary;
  border-top: 1px solid rgba(white, .1);
  box-shadow: 0 0 8px 2px rgba(black, .12);

  a {
	color: white !important;

	&:hover {
	  text-decoration: underline;
	}
  }

  b {
    color: black !important;
  }
}