/*# TELEGRAM ELEMENTS ############################################################################*/
.tg-pic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.tg-btn {
  font-size: 16px;
  line-height: 20px;
  padding: 9px 21px 11px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  background-color: #54a9eb;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  border: none;
  color: #ffffff;
  white-space: nowrap;
  font-family: Arial;
}
