/*# TABLE ELEMENTS ###############################################################################*/
table,
.table {
  width: auto;
  margin: 0 auto;
  background: white;
  border: 1px solid rgba(black, .15);

  tr {
    &[data-href] {
      cursor: pointer;
    }
  }

  th {
    white-space: nowrap;
    text-align: left;
  }

  td {
    text-align: left;
  }

  &.table-transparent {
    background: transparent;
    box-shadow: none;
  }

  &.table-sm {
    td,
    th {
      padding: .25rem .5rem
    }

    th {
      font-size: .7rem;
    }

    td {
      font-size: .875rem;
    }
  }

  &.table-striped {
    tbody {
      tr {
        background: transparent;
        transition: ease all .5s;

        &:nth-of-type(odd) {
          background-color: rgba(black, .05);
        }

        &:hover {
          background: rgba(black, .2);
        }
      }
    }
  }

  &.dataTable {
    &.table-sm {
      > thead {
        > tr {
          > th {
            :not(.sorting_disabled) {
              padding-right: .5rem;
              padding-left: .5rem;
            }
          }

          > th,
          > td {
            &.sorting_asc,
            &.sorting_desc,
            &.sorting {
              padding: .25rem 1rem;
            }
          }
        }
      }
    }
  }
}


.bootstrap-table {
  .fixed-table-toolbar {
    .bs-bars {
      width: 100%;
    }

    #table-targets-toolbar {
      a.btn {
        width: 100%;
      }
    }

    .search {
      width: 100%;

      input.search-input {
        font-size: 0.8rem;
        padding: .275rem .5rem;
        margin-bottom: 10px;
      }
    }

  }
}

