footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  height: 2.45rem;
  border-top: 1px solid rgba(black, .1);
  padding: .75rem .5rem;
  background: white;
  text-align: center;
  font-size: .6875rem;
  box-shadow: 0 0 3px 1px rgba(black, .12);
  @include respond-above(xs) {
	height: 2.85rem;
  }
  @include respond-above(md) {
	height: 3.25rem;
  }

  a {
	color: black;

	&:hover {
	  text-decoration: underline;
	}
  }
}