header {
  background-color: white;
  border-bottom: 1px solid rgba(black, .1);
  box-shadow: 0 0 3px 1px rgba(black, .12);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/*# NAVIGATION ELEMENTS ##########################################################################*/
nav {
  .navbar-brand {
    .navbar-logo {
      display: inline-block;
      vertical-align: top;
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }
  }

  .navbar-toggler,
  .navbar-collapse {
    margin-right: 40px;
  }

  .navbar-profile {
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
    position: absolute;
    top: .5rem;
    right: 1rem;

    img {
      height: 40px;
      width: 40px;
      border-radius: 20px;
    }
  }

  .navbar-nav {
    background: transparent;

    .nav-item {
      a {
        font-size: 1rem;
        line-height: 1;
        color: #212529;
      }

      .dropdown-menu {
        padding: 0;
        background: white;
        box-shadow: 0 1px 4px 1px rgba(black, .2);

        a {
          &.dropdown-item {
            padding: .25rem .5rem;
            border-top: 1px solid #dee2e6;
            background: transparent;
            transition: ease all .5s;

            &:hover {
              background: rgba(black, .05);
            }
          }
        }
      }

      &.dropdown {
        .dropdown-toggle {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:after {
            float: none;
            margin: 0 0 0 .5rem;
          }
        }
      }
    }
  }
}