<!-- views/partials/footer.ejs -->
<div class="container">
    <% if(tick != undefined) { %>
        <div class="row">
            <div class="col-12">
                It is currently tick <%= tick.id %>
            </div>
        </div>
    <% } %>
    <div class="row">
        <div class="col-12">
            &copy; <%= new Date().getFullYear(); %> <a href="https://telegram.me/moldypenguins">moldypenguins</a>
        </div>
    </div>
</div>