
.bootstrap-table {
  .fixed-table-toolbar {
    .search {
      input.search-input {
        color: black;
        background-color: rgba(81, 88, 94, 0.25);
        border-color: rgba(81, 88, 94, 0.33);

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: white;
          opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder, /* Internet Explorer 10-11 */
        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #efefef;
        }
      }
    }
  }
}

