
.bootstrap-table {
  .fixed-table-toolbar {
    .search {
      input.search-input {
        color: #fff;
        background-color: #565e64;
        border-color: #51585e;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #efefef;
          opacity: 1; /* Firefox */
        }
        &:-ms-input-placeholder, /* Internet Explorer 10-11 */
        &::-ms-input-placeholder { /* Microsoft Edge */
          color: #efefef;
        }
      }
    }
  }
}

