name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 1.0.0-alpha
#      - 'releases/*'

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2023.1.5
        with:
          args: --baseline,qodana.sarif.json
          artifact-name: qodana-report
          results-dir: ${{ runner.temp }}/qodana/results/
          cache-default-branch-only: true
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
